AnnotationDbi==1.72.0
BiocManager==1.30.27
clusterProfiler==4.18.4
dbplyr==2.6.0
dplyr==1.2.1
enrichplot==1.30.5
ggh4x==0.3.1
ggplot2==4.0.3
ggVennDiagram==1.5.7
GO.db==3.22.0
knitr==1.51
MLmetrics==1.1.3
org.Hs.eg.db==3.22.0
patchwork==1.3.2
readr==2.2.0
rmarkdown==2.32
scales==1.4.0
svglite==2.2.2
tidyr==1.3.2
tidytable==0.11.2
tidyverse==2.0.0
VennDiagram==1.8.2
wordcloud==2.6
